[Unit]
Description=SyncMikrotiktoLibreQos
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/libreqos/src
Environment="VIRTUAL_ENV=/opt/libreqos/venv"
Environment="PATH=/opt/libreqos/venv/bin:$PATH"
ExecStart=/opt/libreqos/venv/bin/python3 /opt/libreqos/src/updatecsv.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R root:root /opt/libreqos/src
ExecStartPre=/bin/chmod -R 755 /opt/libreqos/src

[Install]
WantedBy=multi-user.target